# Geo Aggregator
BEA has discontinued publication of statistics for metropolitan statistical areas, micropolitan statistical areas, metropolitan divisions, combined statistical areas, and metropolitan and nonmetropolitan portions. GDP and personal income estimates will continue to be published by county.

We present here a way to derive, in some cases, approximations using the still available county estimates and national industry-level price estimates. These estimates will be of lesser quality than those produced internally at BEA for several reasons: the published industry price data is less detailed than is used internally, the public county data for current dollar GDP contains suppressions, and using published data introduces rounding at an intermediate stage of calculation.

See the [README](https://github.com/us-bea/bea_geo_aggregator) for more information including links to methodology documentation.

This notebook has been tested on Google Colab.

## Usage
We assume you have completed steps 1-2 of the [README](https://github.com/us-bea/bea_geo_aggregator) (including getting a [BEA API key](https://www.bea.gov/API/signup/index.cfm)).

Running:
1. Put the BEA API key in-between the quotes in the `bea_key` variable below.
2. Define `start_year` and `end_year` as needed. The earliest `start_year` is 2001 for GDP and 1969 for Personal Income.
2. For `geo_agg`, you can use `"MSA"` (Metropolitan Statistical Area) or `"PORT"` (Metropolitan and Nonmetropolitan portions). If you want to do your own mapping, see below.
3. Personal Income: Fill in `pi_tablename`. Options include `"CAINC1"`, `"CAINC4"`, `"CAINC5N"`, `"CAINC6N"`, and `"CAINC30"`.
4. Then click `Run All` above. You will have to click through a standard warning (“this code was not developed by Google”). It may ask your permission to download multiple files.
5. Results will be saved to files

Notes: 
- Values that cannot be computed will be shown as "missing"/NA. For more explanation on why some values are missing, see the repository `README.md`.
- Variable description: `GDP_current_dollars`="GDP in current dollars" (e.g., table CAGDP2), `chain_type_q_index`="Chained-type quantity index for real GDP" (e.g., table CAGDP8), `real_GDP_chained_dollars`="real GDP in chained dollars" (e.g., table CAGDP9), `contrib_pct_change`="Contributions to percent change in real GDP" (e.g., table CAGDP11).

Files for results will be downloaded to your computer (may have to wait for cells to finish running).

In [1]:
# User configuraiton details
bea_key=""
start_year=2020
last_year=2024
geo_agg="MSA"  #Use default pre-2024 aggregration tables (will drop connecticut counties)
pi_tablename = "CAINC1"

In [ ]:
!pip install beaapi
!git clone https://github.com/us-bea/bea_geo_aggregator.git
!cd bea_geo_aggregator && git checkout main

In [3]:
import pandas as pd
# output variables
gdp_outfname="gdp_calculations.xlsx"
gdp2_outfname="gdp_calculations2.xlsx"
# gdp_w_cnty_outfname # show in _simple version
pi_outfname="pi_calculations.xlsx"
pi2_outfname="pi_calculations2.xlsx"

In [4]:
import bea_geo_aggregator.bea_geo_aggregator as REA_utils
fprefix = 'bea_geo_aggregator/'
print(f"Using tool version {REA_utils.__version__}")
from google.colab import files

Using tool version 0.0.1

## Calculate GDP statistics

In [4]:
# Calculate estimates
gdp_dfs = REA_utils.pull_merge_calc_gdp(start_year=start_year, last_year=last_year, geo_agg=geo_agg, bea_key=bea_key, verbosity=1)

Pulling source data. Linecodes: 100%|██████████| 34/34 [01:17<00:00,  2.29s/it]

Calculating county-year non-missing data to use.

Main calculations. Parent industries: 100%|██████████| 28/28 [00:24<00:00,  1.17it/s]
Calculating contributions. Levels: 100%|██████████| 2/2 [00:07<00:00,  3.86s/it]

In [5]:
# save results to a file
REA_utils.REA_utils.dict_ret_to_excel(gdp_dfs, gdp_outfname)
files.download(gdp_outfname)

In [ ]:
# Show results
for tablename, df_agg in gdp_dfs.items():
    print(f"\nTable: {tablename} (just the top few rows)")
    REA_utils.display_with_notes(df_agg.head())

Table: CAGDP2 (just the top few rows)

Notes:
- *: Estimates from 2008 forward separate Skagway-Hoonah-Angoon Census Area (02232) into Skagway Municipality (02230) and Hoonah-Angoon Census Area (02105). Estimates from 2009 forward separate Wrangell-Petersburg Census Area (02280) into Petersburg Census Area and Wrangell City and Borough (02275). In addition, a part of the Prince of Wales-Outer Ketchikan Census Area (02201) was annexed by Ketchikan Gateway Borough (02130) and part (Meyers Chuck Area) was included in the new Wrangell City and Borough (02275). The remainder of the Prince of Wales-Outer Ketchikan Census Area (02201) was renamed Prince of Wales-Hyder Census Area (02198). Petersburg Borough (02195) was created from part of former Petersburg Census Area and part of Hoonah-Angoon Census Area (02105) for 2013 forward. Prince of Wales-Hyder Census Area (02198) added part of the former Petersburg Census Area beginning in 2013. For years 2009-2012, Petersburg Borough (02195) reflects the geographic boundaries of the former Petersburg Census Area.
- *: Wade Hampton Census Area was renamed Kusilvak Census Area (02158) on July 1, 2015.
- *: On January 2, 2019, two new county equivalents were created from the former Valdez-Cordova Census Area, Alaska (02261): Chugach Census Area (02063) and Copper River Census Area (02066). Estimates for 2020 forward reflect these changes.
- *: Broomfield County, CO, was created from parts of Adams, Boulder, Jefferson, and Weld counties effective November 15, 2001. Estimates for Broomfield county begin with 2002.
- *: Kalawao County, Hawaii is combined with Maui County. Separate estimates for the jurisdictions making up the combination areas are not available.
- *: Shannon County, SD was renamed to Oglala Lakota County, SD on May 1, 2015.
- *: Virginia combination areas consist of one or two independent cities with 1980 populations of less than 100,000 combined with an adjacent county. The county name appears first, followed by the city name(s). Separate estimates for the jurisdictions making up the combination area are not available. Bedford County, VA includes the independent city of Bedford for all years.
- *: Estimates for 2024 forward reflect Connecticut county-level statistics using the stateâs nine planning regions.
-  : Last updated: February 5, 2026-- new statistics for 2024; revised statistics for 2020-2023.
- (D): Not shown to avoid disclosure of confidential information; estimates are included in higher-level totals.
- 2: The private goods-producing industries consist of agriculture, forestry, fishing, and hunting; mining, quarrying, and oil and gas extraction; construction; and manufacturing.
- 3: The private services-producing industries consist of utilities; wholesale trade; retail trade; transportation and warehousing, excluding Postal Service; information; finance and insurance; real estate, rental, and leasing; professional, scientific, and technical services; management of companies; administrative and support and waste management and remediation services; educational services; health care and social assistance; arts, entertainment, and recreation; accommodation and food services; and other services (except government and government enterprises).
Table: CAGDP8 (just the top few rows)

Notes:
- *: Estimates from 2008 forward separate Skagway-Hoonah-Angoon Census Area (02232) into Skagway Municipality (02230) and Hoonah-Angoon Census Area (02105). Estimates from 2009 forward separate Wrangell-Petersburg Census Area (02280) into Petersburg Census Area and Wrangell City and Borough (02275). In addition, a part of the Prince of Wales-Outer Ketchikan Census Area (02201) was annexed by Ketchikan Gateway Borough (02130) and part (Meyers Chuck Area) was included in the new Wrangell City and Borough (02275). The remainder of the Prince of Wales-Outer Ketchikan Census Area (02201) was renamed Prince of Wales-Hyder Census Area (02198). Petersburg Borough (02195) was created from part of former Petersburg Census Area and part of Hoonah-Angoon Census Area (02105) for 2013 forward. Prince of Wales-Hyder Census Area (02198) added part of the former Petersburg Census Area beginning in 2013. For years 2009-2012, Petersburg Borough (02195) reflects the geographic boundaries of the former Petersburg Census Area.
- *: Wade Hampton Census Area was renamed Kusilvak Census Area (02158) on July 1, 2015.
- *: On January 2, 2019, two new county equivalents were created from the former Valdez-Cordova Census Area, Alaska (02261): Chugach Census Area (02063) and Copper River Census Area (02066). Estimates for 2020 forward reflect these changes.
- *: Broomfield County, CO, was created from parts of Adams, Boulder, Jefferson, and Weld counties effective November 15, 2001. Estimates for Broomfield county begin with 2002.
- *: Kalawao County, Hawaii is combined with Maui County. Separate estimates for the jurisdictions making up the combination areas are not available.
- *: Shannon County, SD was renamed to Oglala Lakota County, SD on May 1, 2015.
- *: Virginia combination areas consist of one or two independent cities with 1980 populations of less than 100,000 combined with an adjacent county. The county name appears first, followed by the city name(s). Separate estimates for the jurisdictions making up the combination area are not available. Bedford County, VA includes the independent city of Bedford for all years.
- *: Estimates for 2024 forward reflect Connecticut county-level statistics using the stateâs nine planning regions.
-  : Last updated: February 5, 2026-- new statistics for 2024; revised statistics for 2020-2023.
- (D): Not shown to avoid disclosure of confidential information; estimates are included in higher-level totals.
- 2: The private goods-producing industries consist of agriculture, forestry, fishing, and hunting; mining, quarrying, and oil and gas extraction; construction; and manufacturing.
- 3: The private services-producing industries consist of utilities; wholesale trade; retail trade; transportation and warehousing, excluding Postal Service; information; finance and insurance; real estate, rental, and leasing; professional, scientific, and technical services; management of companies; administrative and support and waste management and remediation services; educational services; health care and social assistance; arts, entertainment, and recreation; accommodation and food services; and other services (except government and government enterprises).
Table: CAGDP9 (just the top few rows)

Notes:
- *: Estimates from 2008 forward separate Skagway-Hoonah-Angoon Census Area (02232) into Skagway Municipality (02230) and Hoonah-Angoon Census Area (02105). Estimates from 2009 forward separate Wrangell-Petersburg Census Area (02280) into Petersburg Census Area and Wrangell City and Borough (02275). In addition, a part of the Prince of Wales-Outer Ketchikan Census Area (02201) was annexed by Ketchikan Gateway Borough (02130) and part (Meyers Chuck Area) was included in the new Wrangell City and Borough (02275). The remainder of the Prince of Wales-Outer Ketchikan Census Area (02201) was renamed Prince of Wales-Hyder Census Area (02198). Petersburg Borough (02195) was created from part of former Petersburg Census Area and part of Hoonah-Angoon Census Area (02105) for 2013 forward. Prince of Wales-Hyder Census Area (02198) added part of the former Petersburg Census Area beginning in 2013. For years 2009-2012, Petersburg Borough (02195) reflects the geographic boundaries of the former Petersburg Census Area.
- *: Wade Hampton Census Area was renamed Kusilvak Census Area (02158) on July 1, 2015.
- *: On January 2, 2019, two new county equivalents were created from the former Valdez-Cordova Census Area, Alaska (02261): Chugach Census Area (02063) and Copper River Census Area (02066). Estimates for 2020 forward reflect these changes.
- *: Broomfield County, CO, was created from parts of Adams, Boulder, Jefferson, and Weld counties effective November 15, 2001. Estimates for Broomfield county begin with 2002.
- *: Kalawao County, Hawaii is combined with Maui County. Separate estimates for the jurisdictions making up the combination areas are not available.
- *: Shannon County, SD was renamed to Oglala Lakota County, SD on May 1, 2015.
- *: Virginia combination areas consist of one or two independent cities with 1980 populations of less than 100,000 combined with an adjacent county. The county name appears first, followed by the city name(s). Separate estimates for the jurisdictions making up the combination area are not available. Bedford County, VA includes the independent city of Bedford for all years.
- *: Estimates for 2024 forward reflect Connecticut county-level statistics using the stateâs nine planning regions.
-  : Last updated: February 5, 2026-- new statistics for 2024; revised statistics for 2020-2023.
- (D): Not shown to avoid disclosure of confidential information; estimates are included in higher-level totals.
- 2: The private goods-producing industries consist of agriculture, forestry, fishing, and hunting; mining, quarrying, and oil and gas extraction; construction; and manufacturing.
- 3: The private services-producing industries consist of utilities; wholesale trade; retail trade; transportation and warehousing, excluding Postal Service; information; finance and insurance; real estate, rental, and leasing; professional, scientific, and technical services; management of companies; administrative and support and waste management and remediation services; educational services; health care and social assistance; arts, entertainment, and recreation; accommodation and food services; and other services (except government and government enterprises).
Table: CAGDP11 (just the top few rows)

Notes:
- *: Estimates from 2008 forward separate Skagway-Hoonah-Angoon Census Area (02232) into Skagway Municipality (02230) and Hoonah-Angoon Census Area (02105). Estimates from 2009 forward separate Wrangell-Petersburg Census Area (02280) into Petersburg Census Area and Wrangell City and Borough (02275). In addition, a part of the Prince of Wales-Outer Ketchikan Census Area (02201) was annexed by Ketchikan Gateway Borough (02130) and part (Meyers Chuck Area) was included in the new Wrangell City and Borough (02275). The remainder of the Prince of Wales-Outer Ketchikan Census Area (02201) was renamed Prince of Wales-Hyder Census Area (02198). Petersburg Borough (02195) was created from part of former Petersburg Census Area and part of Hoonah-Angoon Census Area (02105) for 2013 forward. Prince of Wales-Hyder Census Area (02198) added part of the former Petersburg Census Area beginning in 2013. For years 2009-2012, Petersburg Borough (02195) reflects the geographic boundaries of the former Petersburg Census Area.
- *: Wade Hampton Census Area was renamed Kusilvak Census Area (02158) on July 1, 2015.
- *: On January 2, 2019, two new county equivalents were created from the former Valdez-Cordova Census Area, Alaska (02261): Chugach Census Area (02063) and Copper River Census Area (02066). Estimates for 2020 forward reflect these changes.
- *: Broomfield County, CO, was created from parts of Adams, Boulder, Jefferson, and Weld counties effective November 15, 2001. Estimates for Broomfield county begin with 2002.
- *: Kalawao County, Hawaii is combined with Maui County. Separate estimates for the jurisdictions making up the combination areas are not available.
- *: Shannon County, SD was renamed to Oglala Lakota County, SD on May 1, 2015.
- *: Virginia combination areas consist of one or two independent cities with 1980 populations of less than 100,000 combined with an adjacent county. The county name appears first, followed by the city name(s). Separate estimates for the jurisdictions making up the combination area are not available. Bedford County, VA includes the independent city of Bedford for all years.
- *: Estimates for 2024 forward reflect Connecticut county-level statistics using the stateâs nine planning regions.
-  : Last updated: February 5, 2026-- new statistics for 2024; revised statistics for 2020-2023.
- (D): Not shown to avoid disclosure of confidential information; estimates are included in higher-level totals.
- 2: The private goods-producing industries consist of agriculture, forestry, fishing, and hunting; mining, quarrying, and oil and gas extraction; construction; and manufacturing.
- 3: The private services-producing industries consist of utilities; wholesale trade; retail trade; transportation and warehousing, excluding Postal Service; information; finance and insurance; real estate, rental, and leasing; professional, scientific, and technical services; management of companies; administrative and support and waste management and remediation services; educational services; health care and social assistance; arts, entertainment, and recreation; accommodation and food services; and other services (except government and government enterprises).
Table: CAGDP1 (just the top few rows)

Notes:
- *: Estimates from 2008 forward separate Skagway-Hoonah-Angoon Census Area (02232) into Skagway Municipality (02230) and Hoonah-Angoon Census Area (02105). Estimates from 2009 forward separate Wrangell-Petersburg Census Area (02280) into Petersburg Census Area and Wrangell City and Borough (02275). In addition, a part of the Prince of Wales-Outer Ketchikan Census Area (02201) was annexed by Ketchikan Gateway Borough (02130) and part (Meyers Chuck Area) was included in the new Wrangell City and Borough (02275). The remainder of the Prince of Wales-Outer Ketchikan Census Area (02201) was renamed Prince of Wales-Hyder Census Area (02198). Petersburg Borough (02195) was created from part of former Petersburg Census Area and part of Hoonah-Angoon Census Area (02105) for 2013 forward. Prince of Wales-Hyder Census Area (02198) added part of the former Petersburg Census Area beginning in 2013. For years 2009-2012, Petersburg Borough (02195) reflects the geographic boundaries of the former Petersburg Census Area.
- *: Wade Hampton Census Area was renamed Kusilvak Census Area (02158) on July 1, 2015.
- *: On January 2, 2019, two new county equivalents were created from the former Valdez-Cordova Census Area, Alaska (02261): Chugach Census Area (02063) and Copper River Census Area (02066). Estimates for 2020 forward reflect these changes.
- *: Broomfield County, CO, was created from parts of Adams, Boulder, Jefferson, and Weld counties effective November 15, 2001. Estimates for Broomfield county begin with 2002.
- *: Kalawao County, Hawaii is combined with Maui County. Separate estimates for the jurisdictions making up the combination areas are not available.
- *: Shannon County, SD was renamed to Oglala Lakota County, SD on May 1, 2015.
- *: Virginia combination areas consist of one or two independent cities with 1980 populations of less than 100,000 combined with an adjacent county. The county name appears first, followed by the city name(s). Separate estimates for the jurisdictions making up the combination area are not available. Bedford County, VA includes the independent city of Bedford for all years.
- *: Estimates for 2024 forward reflect Connecticut county-level statistics using the stateâs nine planning regions.
-  : Last updated: February 5, 2026-- new statistics for 2024; revised statistics for 2020-2023.
- (D): Not shown to avoid disclosure of confidential information; estimates are included in higher-level totals.
- 2: The private goods-producing industries consist of agriculture, forestry, fishing, and hunting; mining, quarrying, and oil and gas extraction; construction; and manufacturing.
- 3: The private services-producing industries consist of utilities; wholesale trade; retail trade; transportation and warehousing, excluding Postal Service; information; finance and insurance; real estate, rental, and leasing; professional, scientific, and technical services; management of companies; administrative and support and waste management and remediation services; educational services; health care and social assistance; arts, entertainment, and recreation; accommodation and food services; and other services (except government and government enterprises).

## Calculate Personal Income statistics

In [7]:
# Do calculation
pi_df = REA_utils.pull_merge_calc_pi(tablename=pi_tablename, start_year=start_year, last_year=last_year, 
                                   geo_agg=geo_agg, bea_key=bea_key, verbosity=1)

Pulling source data. Linecodes: 100%|██████████| 3/3 [00:01<00:00,  1.81it/s]

Main calculations

In [8]:
# Save results to a file
pi_df.to_excel(pi_outfname, sheet_name=pi_tablename, index=False)
files.download(pi_outfname)

In [9]:
# Show results
print("Just the top few rows")
REA_utils.display_with_notes(pi_df.head())

Just the top few rows

Notes:
- *: Estimates for 1979 forward reflect Alaska Census Areas as defined by the Census Bureau; those for prior years reflect Alaska Census Divisions as defined in the 1970 Decennial Census.
- *: Estimates from 1988 forward separate Aleutian Islands Census Area (02010) into Aleutians East Borough (02013) and Aleutians West Census Area (02016).
- *: Estimates for 1991 forward separate Denali Borough (02068) from Yukon-Koyukuk Census Area (02290) and Lake and Peninsula Borough (02164) from Dillingham Census Area (02070).
- *: Estimates from 1993 forward separate Skagway-Yakutat-Angoon Census Area (02231) into Skagway-Hoonah-Angoon Census Area (02232) and Yakutat City and Borough (02282). Estimates from 2008 forward separate Skagway-Hoonah-Angoon Census Area (02232) into Skagway Municipality (02230) and Hoonah-Angoon Census Area (02105). Estimates from 2009 forward separate Wrangell-Petersburg Census Area (02280) into Petersburg Census Area and Wrangell City and Borough (02275). In addition, a part of the Prince of Wales-Outer Ketchikan Census Area (02201) was annexed by Ketchikan Gateway Borough (02130) and part (Meyers Chuck Area) was included in the new Wrangell City and Borough (02275). The remainder of the Prince of Wales-Outer Ketchikan Census Area (02201) was renamed Prince of Wales-Hyder Census Area (02198). Petersburg Borough (02195) was created from part of former Petersburg Census Area and part of Hoonah-Angoon Census Area (02105) for 2013 forward. Prince of Wales-Hyder Census Area (02198) added part of the former Petersburg Census Area beginning in 2013. For years 2009-2012, Petersburg Borough (02195) reflects the geographic boundaries of the former Petersburg Census Area.
- *: Wade Hampton Census Area was renamed Kusilvak Census Area (02158) on July 1, 2015.
- *: On January 2, 2019, two new county equivalents were created from the former Valdez-Cordova Census Area, Alaska (02261): Chugach Census Area (02063) and Copper River Census Area (02066). Estimates for 2020 forward reflect these changes.
- *: La Paz County, AZ was separated from Yuma County on January 1, 1983.
- *: Broomfield County, CO, was created from parts of Adams, Boulder, Jefferson, and Weld counties effective November 15, 2001. Estimates for Broomfield county begin with 2002.
- *: Kalawao County, Hawaii is combined with Maui County. Separate estimates for the jurisdictions making up the combination areas are not available.
- *: Cibola, NM was separated from Valencia in June 1981, but in these estimates, Valencia includes Cibola through the end of 1981.
- *: Shannon County, SD was renamed to Oglala Lakota County, SD on May 1, 2015.
- *: Virginia combination areas consist of one or two independent cities with 1980 populations of less than 100,000 combined with an adjacent county. The county name appears first, followed by the city name(s). Separate estimates for the jurisdictions making up the combination area are not available. Bedford County, VA includes the independent city of Bedford for all years.
- *: Shawano, WI and Menominee, WI are combined as Shawano (incl. Menominee), WI for the years prior to 1989.
- *: Estimates for 2024 forward reflect Connecticut county-level statistics using the stateâs nine planning regions.
- Note.: All dollar estimates are in thousands of current dollars (not adjusted for inflation). Statistics presented in thousands of dollars do not indicate more precision than statistics presented in millions of dollars.
-  : Last updated: February 5, 2026-- new statistics for 2024; revised statistics for 2020-2023.
- 1: U.S. Census Bureau midyear population estimates.
- 2: Per capita personal income is total personal income divided by total midyear population.

## Custom geography table
If you want to provide user-defined geographic aggregations, you just needs to define a table of string variables with appropriate columns where each line is a component county and the columns list details for it and what aggregate it comprises.

For example, suppose we want to create a fairly nonsensical aggregation of Washington, AR and Washington, NY (same name, but don't border each other).

In [5]:
geo_agg = pd.DataFrame({"County name":["Washington, AR", "Washington, NY"], 
                        'GeoFips':['05143', '36115'], 
                        "GeoAgg1_name":["Toy MSA", "Toy MSA"], 
                        'GeoAgg1Fips':["Agg1", "Agg1"]}, dtype="string")
display(geo_agg)

      County name GeoFips GeoAgg1_name GeoAgg1Fips
0  Washington, AR   05143      Toy MSA        Agg1
1  Washington, NY   36115      Toy MSA        Agg1

Calculate GDP:

In [6]:
# Calculate GDP
start_year=2023
gdp_dfs2 = REA_utils.pull_merge_calc_gdp(start_year=start_year, last_year=last_year, geo_agg=geo_agg, bea_key=bea_key, verbosity=1)
REA_utils.display_with_notes(gdp_dfs2['CAGDP2'].head())

Pulling source data. Linecodes: 100%|██████████| 34/34 [01:16<00:00,  2.24s/it]

Calculating county-year non-missing data to use.

Main calculations. Parent industries: 100%|██████████| 14/14 [00:00<00:00, 16.40it/s]
Calculating contributions. Levels: 100%|██████████| 1/1 [00:00<00:00, 11.69it/s]

Notes:
- *: Estimates from 2008 forward separate Skagway-Hoonah-Angoon Census Area (02232) into Skagway Municipality (02230) and Hoonah-Angoon Census Area (02105). Estimates from 2009 forward separate Wrangell-Petersburg Census Area (02280) into Petersburg Census Area and Wrangell City and Borough (02275). In addition, a part of the Prince of Wales-Outer Ketchikan Census Area (02201) was annexed by Ketchikan Gateway Borough (02130) and part (Meyers Chuck Area) was included in the new Wrangell City and Borough (02275). The remainder of the Prince of Wales-Outer Ketchikan Census Area (02201) was renamed Prince of Wales-Hyder Census Area (02198). Petersburg Borough (02195) was created from part of former Petersburg Census Area and part of Hoonah-Angoon Census Area (02105) for 2013 forward. Prince of Wales-Hyder Census Area (02198) added part of the former Petersburg Census Area beginning in 2013. For years 2009-2012, Petersburg Borough (02195) reflects the geographic boundaries of the former Petersburg Census Area.
- *: Wade Hampton Census Area was renamed Kusilvak Census Area (02158) on July 1, 2015.
- *: On January 2, 2019, two new county equivalents were created from the former Valdez-Cordova Census Area, Alaska (02261): Chugach Census Area (02063) and Copper River Census Area (02066). Estimates for 2020 forward reflect these changes.
- *: Broomfield County, CO, was created from parts of Adams, Boulder, Jefferson, and Weld counties effective November 15, 2001. Estimates for Broomfield county begin with 2002.
- *: Kalawao County, Hawaii is combined with Maui County. Separate estimates for the jurisdictions making up the combination areas are not available.
- *: Shannon County, SD was renamed to Oglala Lakota County, SD on May 1, 2015.
- *: Virginia combination areas consist of one or two independent cities with 1980 populations of less than 100,000 combined with an adjacent county. The county name appears first, followed by the city name(s). Separate estimates for the jurisdictions making up the combination area are not available. Bedford County, VA includes the independent city of Bedford for all years.
- *: Estimates for 2024 forward reflect Connecticut county-level statistics using the stateâs nine planning regions.
-  : Last updated: February 5, 2026-- new statistics for 2024; revised statistics for 2020-2023.
- (D): Not shown to avoid disclosure of confidential information; estimates are included in higher-level totals.
- 2: The private goods-producing industries consist of agriculture, forestry, fishing, and hunting; mining, quarrying, and oil and gas extraction; construction; and manufacturing.
- 3: The private services-producing industries consist of utilities; wholesale trade; retail trade; transportation and warehousing, excluding Postal Service; information; finance and insurance; real estate, rental, and leasing; professional, scientific, and technical services; management of companies; administrative and support and waste management and remediation services; educational services; health care and social assistance; arts, entertainment, and recreation; accommodation and food services; and other services (except government and government enterprises).

Calculate PI

In [8]:
start_year=2023
pi_df2 = REA_utils.pull_merge_calc_pi(tablename=pi_tablename, start_year=start_year, last_year=last_year, 
                                   geo_agg=geo_agg, bea_key=bea_key, verbosity=1)
REA_utils.display_with_notes(pi_df2)

Pulling source data. Linecodes: 100%|██████████| 3/3 [00:01<00:00,  1.68it/s]

Main calculations

Notes:
- *: Estimates for 1979 forward reflect Alaska Census Areas as defined by the Census Bureau; those for prior years reflect Alaska Census Divisions as defined in the 1970 Decennial Census.
- *: Estimates from 1988 forward separate Aleutian Islands Census Area (02010) into Aleutians East Borough (02013) and Aleutians West Census Area (02016).
- *: Estimates for 1991 forward separate Denali Borough (02068) from Yukon-Koyukuk Census Area (02290) and Lake and Peninsula Borough (02164) from Dillingham Census Area (02070).
- *: Estimates from 1993 forward separate Skagway-Yakutat-Angoon Census Area (02231) into Skagway-Hoonah-Angoon Census Area (02232) and Yakutat City and Borough (02282). Estimates from 2008 forward separate Skagway-Hoonah-Angoon Census Area (02232) into Skagway Municipality (02230) and Hoonah-Angoon Census Area (02105). Estimates from 2009 forward separate Wrangell-Petersburg Census Area (02280) into Petersburg Census Area and Wrangell City and Borough (02275). In addition, a part of the Prince of Wales-Outer Ketchikan Census Area (02201) was annexed by Ketchikan Gateway Borough (02130) and part (Meyers Chuck Area) was included in the new Wrangell City and Borough (02275). The remainder of the Prince of Wales-Outer Ketchikan Census Area (02201) was renamed Prince of Wales-Hyder Census Area (02198). Petersburg Borough (02195) was created from part of former Petersburg Census Area and part of Hoonah-Angoon Census Area (02105) for 2013 forward. Prince of Wales-Hyder Census Area (02198) added part of the former Petersburg Census Area beginning in 2013. For years 2009-2012, Petersburg Borough (02195) reflects the geographic boundaries of the former Petersburg Census Area.
- *: Wade Hampton Census Area was renamed Kusilvak Census Area (02158) on July 1, 2015.
- *: On January 2, 2019, two new county equivalents were created from the former Valdez-Cordova Census Area, Alaska (02261): Chugach Census Area (02063) and Copper River Census Area (02066). Estimates for 2020 forward reflect these changes.
- *: La Paz County, AZ was separated from Yuma County on January 1, 1983.
- *: Broomfield County, CO, was created from parts of Adams, Boulder, Jefferson, and Weld counties effective November 15, 2001. Estimates for Broomfield county begin with 2002.
- *: Kalawao County, Hawaii is combined with Maui County. Separate estimates for the jurisdictions making up the combination areas are not available.
- *: Cibola, NM was separated from Valencia in June 1981, but in these estimates, Valencia includes Cibola through the end of 1981.
- *: Shannon County, SD was renamed to Oglala Lakota County, SD on May 1, 2015.
- *: Virginia combination areas consist of one or two independent cities with 1980 populations of less than 100,000 combined with an adjacent county. The county name appears first, followed by the city name(s). Separate estimates for the jurisdictions making up the combination area are not available. Bedford County, VA includes the independent city of Bedford for all years.
- *: Shawano, WI and Menominee, WI are combined as Shawano (incl. Menominee), WI for the years prior to 1989.
- *: Estimates for 2024 forward reflect Connecticut county-level statistics using the stateâs nine planning regions.
- Note.: All dollar estimates are in thousands of current dollars (not adjusted for inflation). Statistics presented in thousands of dollars do not indicate more precision than statistics presented in millions of dollars.
-  : Last updated: February 5, 2026-- new statistics for 2024; revised statistics for 2020-2023.
- 1: U.S. Census Bureau midyear population estimates.
- 2: Per capita personal income is total personal income divided by total midyear population.